body {
    background: var(--color-site) !important;
}
.Card01 {
    width: 266px;
    height: 222px;
    border-radius: 54px 0px 0px 0px;
    border-radius: 5px;
    background: var(--color-degrad01);
}
#cards02 {
    height: 267px;
    background: var(--color-degrad02);
}
#cards03 {
    height: 315px;
}
#cards04 {
    height: 355px;
    background: var(--color-degrad02);
}
.card02 {
    width: 355px;
    height: 268px;
    border-radius: 15px;
    border: 1px solid #fff !important;
    background: var(--color-cards)!important;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.456);
}
#fixedDiv.fixed {
    position: sticky; 
    top: 10px;
}
#fixedDiv.stopped {
    position: absolute;
    top: 800px; 
}
.card03 {
    width: 389px;
    height: 321px;
    background: var(--color-degrad01);
}