@media (max-width: 1200px) {
    .Card01 {
        width: 220px;
    }
}
#Mobile {
    display: none !important;
}
@media (max-width: 800px)  {
    #Mobile {
        display: block !important;
    }
    #Desktop{
        display: none !important;
    }
}